@media (max-width: 768px) {
  img {
    max-width: 320px !important;
    position: relative;
  }
  h1 {
    font-size: 2.1rem !important;
    position: relative;
    top: 0 !important;
    width: 100% !important;
  }
  p.mt-3 {
    font-size: 1.3rem;
    color: rgb(99, 110, 114);
    position: absolute;
    top: 150px !important;
    width: 75% !important;
    text-align: initial;
  }
  a.btn {
    font-family: Poppins, sans-serif;
    position: relative;
    top: -80px;
  }
  .container {
    display: none;
  }
  h2 {
    font-size: 2rem !important;
    opacity: 1;
    transform: none;
  }
  a.mt-auto {
    width: 71% !important;
  }
  /* button.btn {
    position: relative;
    left: 280px !important;
    padding: 3px !important;
  } */
  .grid {
    display: grid;
    grid-template-columns: 2fr 2fr !important;
    gap: 1rem !important;
  }
  .mt-auto {
    display: flex !important;
    flex-direction: row !important;
    width: 276% !important;
    position: relative !important;
    left: -8px !important;
  }
  a.inline-flex {
    margin-inline: 0px !important;
  }
  .div.bg-transparent {
    width: 100% !important;
  }
  a.rx {
    width: 80% !important;
  }
  button.mt-4 {
    width: 24% !important;
  }
  a.v-btn {
    width: 33% !important;
  }
  button.b-btn {
    left: 275px !important;
  }
  .a-container {
    display: flex !important;
    flex-direction: column !important;
  }
  .inp {
    width: 70% !important;
  }
}
